<VirtualHost *:80>
    <Proxy balancer://{{ cluster_name }}>
        BalancerMember http://{{ node1 }}:{{ port1 }}
        BalancerMember http://{{ node2 }}:{{ port2 }}

        Require all granted
    </Proxy>

    ProxyPreserveHost On
    ProxyPass /balancer-manager !
    ProxyPass / balancer://{{ cluster_name }}/
    ProxyPassReverse / balancer://{{ cluster_name }}/

    <Location "/balancer-manager">
        SetHandler balancer-manager
        Require ip {{ authorized_network }}
    </Location>

</VirtualHost>
